@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

body {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-2xl {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.s-container {
  width: 90%;
  margin: 10px auto;
}



.vm_subheading {
  color: black;
  font-size: 28px;
  margin: 10px 0;
  font-weight: 500;
  padding: 5px 7px;
  background: linear-gradient(89deg, #288ed6 8.63%, #E9DE4D 95.43%), #ffffff;
  background-size: cover;
}

.vm_paragraph {
  color: black;
  margin: 10px 0;
  text-align: start;
}

.vm_list {
  color: black;
  margin: 10px 0;
  text-align: start;
  padding-left: 20px;
}

.vm_list li {
  margin-bottom: 5px;
}
